@model Car_Galery.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">

    <div class="col-md-6 col-12">
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>


            @if (User.IsInRole("User"))
            {
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <dt>Add phone number for balance transactions!</dt>
                        <text>[&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;]</text>
                    }
                    </dd>
                    if (Model.PhoneNumber != null)
                    {
                        using (Html.BeginForm("AddBalance", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <dt>Balance:</dt>
                            <dd><text>@Model.Balance</text></dd>
                            <dt>Add Balance:</dt>
                            Model.Balance = 0;
                            <dd>@Html.TextBoxFor(t => t.Balance, new { @class = "form-control", placeholder = "Enter Balance" })</dd>
                            <dd><button class="btn btn-success" type="submit">Add Balance</button></dd>

                        }
                    }
             }






        </dl>
    </div>
    
    <div class="col-md-6 col-12">
        @{
            Html.RenderAction("GetRequestPartial","User");
        }
    </div>
</div>
