
@using Car_Galery.Models.ViewModels
@using PagedList.Mvc
@model Car_Galery.Models.ViewModels.InventoryViewModel

@Html.Hidden("VehicleId")


<div class="brand-title row">
    <div class="col-md-6">
        <h5><i class="fa fa-align-justify"></i> Inventory Listing</h5>
    </div>
    <div class="col-md-6">
        <h6 align="right">@Model.FilterModel.ResultCount result found.</h6>
    </div>


</div>

<div class="row toolbar">

    <div class="col-md-8 col-12">
        @Html.PagedListPager(Model.PagedVehicleModels, PageNumber => Url.Action("FilterVehicle", "Inventory",
            new
            {
                PageNumber = PageNumber,
                TypeId = Model.FilterModel.TypeId,
                FuelType = Model.FilterModel.FuelType,
                Transmission = Model.FilterModel.Transmission,
                Year = Model.FilterModel.Year,
                MinPrice = Model.FilterModel.MinPrice,
                MaxPrice = Model.FilterModel.MaxPrice,
                MinKm = Model.FilterModel.MinKm,
                MaxKm = Model.FilterModel.MaxKm,
                BrandId = Model.FilterModel.BrandId,
                ModelId = Model.FilterModel.ModelId,
                Filtered = Model.FilterModel.Filtered,
                SortBy = Model.FilterModel.SortBy,
                SearchText = Model.FilterModel.SearchText

            }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
            {
                UpdateTargetId = "VehicleList",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"

            }))
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-1 col-12 add-vehicle">
            <a data-toggle="modal" data-target="#VehicleAddModal" onclick="GetAddVehicle()">
                <i class="fa fa-plus fa-2x"></i>
            </a>
        </div>

        <div class="col-md-3 col-12 sort-filter">

            @Html.DropDownList("Order", new List<SelectListItem>()
            {
                new SelectListItem{Text = "--Sort By--",Value = "Sort"},
                new SelectListItem{Text = "Name",Value = "Name"},
                new SelectListItem{Text = "Price",Value = "Price"},
                new SelectListItem{Text = "Km",Value = "Km"}
            }, new { @class = "form-control form-dropdown", onchange = "SortBy()" })
        </div>

    }
    else
    {
        <div class="col-md-4 col-12 sort-filter">

            @Html.DropDownList("Order", new List<SelectListItem>()
            {
                new SelectListItem{Text = "--Sort By--",Value = "Sort"},
                new SelectListItem{Text = "Name",Value = "Name"},
                new SelectListItem{Text = "Price",Value = "Price"},
                new SelectListItem{Text = "Km",Value = "Km"}
            }, new { @class = "form-control form-dropdown", onchange = "SortBy()" })
        </div>
    }


</div>

<div class="carboxrow">

    <div class="row car-listbar">


        @foreach (var vehicle in Model.PagedVehicleModels)
        {

        <div class="col-lg-4 col-md-6 col-12 car-content">

            <a data-toggle="modal" data-target="#VehicleModal" onclick="GetModal(this)" value=@vehicle.Id id="VehicleModalLink"> 
                <div class="CarBox">
                    <input id="VehicleId" name="VehicleId" type="hidden" value=@vehicle.Id />
                    <div>
                        <img src="@(((vehicle.ImageUrl == null)|| (vehicle.ImageUrl == ""))  ? Url.Content("~/Images/placeholder.png") : Url.Content(vehicle.ImageUrl))" alt="carname" />
                    </div>
                    <div class="car-title">
                        <p>@vehicle.Name</p>
                    </div>

                    <div class="car-price">
                        <span class="price">$ @vehicle.Price</span>
                    </div>

                    <div class="car-info">
                        <div class="col-attr">
                            <i class="fa fa-tachometer"></i>
                            <p>@vehicle.Km km</p>
                        </div>
                        <div class="col-attr">
                            <i class="fa fa-calendar"></i>
                            @vehicle.Year
                        </div>
                    </div>

                    

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="delete-btn">
                            <a onclick="DeleteVehicle(this)" value=@vehicle.Id class="btn btn-danger"><i class="fa fa-trash fa-lg delete-icon"></i></a>
                        </div>
                    }
                </div>
            </a>
        </div>

        }


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="VehicleModal" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("_VehicleModalPartial",new VehicleModalViewModel());
    }
    
</div>


<script type="text/javascript">
    function SortBy() {
        var userObj = @Html.Raw(Json.Encode(Model.FilterModel));

        userObj["SortBy"] = $('#Order').val();;


        $.ajax({
            url:'/Inventory/FilterVehicle',
            type:'POST',
            datatype:"JSON",
            data: {fm: userObj},
            success: function(data) {
                $('#VehicleList').html(data);
                $('#Order').val(userObj["SortBy"]);
            }

        });
    }
</script>


