@model Car_Galery.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

    <div class="regiter-container">
        <div class="register-login-title">
            <h2>@ViewBag.Title.</h2>
        </div>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="register-login-toolbar" align="center">
                
                <div class="register-login-inner">
                    @Html.AntiForgeryToken()
                    <h4>Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <div >
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-success" value="Send Reset Password" />
                        </div>
                    </div>
                </div>

            </div>
            
        }

    </div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
