@model Car_Galery.Models.ViewModels.VehicleModalViewModel

@{
    string name = Model.Name;
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> @Model.Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row CarBox">
                <div class="col-md-6 col-12">
                    <div>
                        <img src="@(Model.ImageUrl == null ? "" : Url.Content(Model.ImageUrl))" alt="carname" />
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="modal-details">
                        <h3>Details:</h3>
                    </div>
                    <div class="row modal-details-var">
                        <div class="col-md-6 col-12">
                            <p><b>Type: </b> @Model.TypeName</p>
                            <p><b>Brand: </b> @Model.BrandName</p>
                            <p><b>Model: </b> @Model.ModelName</p>
                            <p><b>Year: </b> @Model.Year</p>
                            <p><b>Transmission: </b> @Model.Transmission</p>

                        </div>

                        <div class="col-md-6 col-12">
                            <p><b>Price: </b>$ @Model.Price </p>
                            <p><b>Color: </b> @Model.Color</p>
                            <p><b>Km: </b> @Model.Km</p>
                            <p><b>Fuel: </b> @Model.Fuel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
